.li{
  margin: 10px 30px;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.li span:first-child{
  font-size: 18px;
  margin-right: 5px;
}
.li span {
  font-size: 10px;
}
.li p {
  margin-top: 10px;
  font-size: 12px;
}