.container {
  max-width: 400px;
  margin: 0 auto;

  h2{
    font-size: 2rem;
    color: white;
    text-align: center;
    font-weight: 400;
  }
  .form{
    display: flex;
    flex-direction: column;
    gap: 12px;

    .alert{
      color: #D9FD66;
      margin-top: 6px;
      margin-bottom: 0px;
      font-weight: 300;
    }
    
    .input-box{
      label{
        color: white;
        margin-bottom: 10px;
        display: block;
      }

      input, textarea{
        width: 100%;
        padding: 14px;
        box-sizing: border-box;
        border: none;
        border-radius: 10px;
      }
    }
  }
}