* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
}
.header h1{
  margin-right: auto;
}
.header button {
  width: 80px;
  height: 30px;
  background-color: rgb(204, 204, 204);
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}
.nav ul{
  list-style: none;
  text-align: center;
}
.nav ul li{
  display: inline-block;
  padding: 0px 20px;
}
nav a {
  text-decoration: none;
}
.nav a:visited {
  color: black;
}
.nav a:hover {
  color: rgb(37, 159, 240);
}
.homeLink {
  text-decoration: none;
  font-size: 14px;
  background-color:  rgb(204, 204, 204);
  border-radius: 5px;
  width: 110px;
  height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.homeLink:visited {
  color: rgb(0, 0, 0);
}
.homeLink:hover {
  background-color: rgb(162, 162, 162);
}
